{% extends 'music/base.html' %} 
{% block title %}Add a New Album{% endblock %} 
{% block albums_active %}active{% endblock %} 
{% block body %}
<div class ="container">
    <h1>Are you sure?</h1>
<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <input type="submit" value="Confirm">
</form>
</div>
{% endblock%}

<!-- We want to automate the process of regulating attendance everyday making the experience seamless. This saves a lot of time and energy everyday obviously, going through all the names 
of thousands of students everyday, each hour takes a quite a lot of time, you do the math. This ofcourse takes account of all the leave the staff undertakes in a period of 
time. In a nutshell, this will enable us save us a lot time and energy.

As we all know time is money, we have to put a lot of emphasis on time and money. Here's the deal; Generally security is placed  at institutions verifying if the student/staff 
is indeed a member of the respective institutions or not, the same can be seen at hostels/PG. At first the money spend can be rationalized by reducing the strength of the
security placed. This can be done by implementing the technology at various places. We are being too specific about the issue, but you get the point; As Jamie Paolineti 
once said "The possibilities are Endless"

So, how the heck we gonna achieve it? Its quite simple actually, we implement Face Recognition with basic library management. This is done with the help of Django paired up 
with SQlite and using Pre-Fabricated Face Recognition API(Source is mentioned below )

-->