{% extends 'music/base.html' %}
{% block body%}
<head>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/signup.css' %}" />
    <script src="{% static 'music/js/signup.js' %}"></script>
</head>
<div class ="container">
      <form class="{% url 'music:my_login' %}" method="post">
        {% csrf_token %} 
        <label for='username'> Username </label>
        <input type='text' name='Username' id='username'>
        <label for='password'>Password </label>
        <input type='password' name='Password' id='password'>
        <input type='submit' value='login'>
        <p class="message">Not registered? <a href="#">Create an account</a></p>
      </form>
    </div>
{% endblock%}